.burger {
    flex-direction: column;
    display: none;

    span {
        width: 43px;
        height: 5px;
        border-radius: 3px;
        background-color: var(--txt);
        transition: transform 0.2s ease-out;
        -webkit-transition: transform 0.2s ease-out;
        -moz-transition: transform 0.2s ease-out;
        -ms-transition: transform 0.2s ease-out;
        -o-transition: transform 0.2s ease-out;
    
        &:not(:last-child) {
            margin-bottom: 6px;
        }
    }

}

@include media-tablet {
        .burger {
            display: flex;
            // margin-bottom: 2em;
        }
}