.education {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-bottom: 7.875em;
  padding-top: 1em;

  &__cards {
    overflow: hidden;
    width: 100%;
  }

  &__card {
    display: flex;
    flex-direction: column;
    padding: 2em 2.25em;
    border-radius: 1.25em;
    background-color: var(--cards-bg-color);
    max-width: 375px;
    box-sizing: border-box;
    width: 100%;
    transition: 0.3s;
  }

  &__card-img {
    margin-bottom: 1.875em;
    display: flex;
  }

  &__card img {
    transition: 0.3s;
    border: 1px solid #ffffff;
  }

  &__card:hover {
    background-color: var(--cards-bg-hover);
    transition: 0.3s;
  }

  &__card:hover img {
    transition: 0.3s;
    -webkit-filter: drop-shadow(0px 0px 24px #245783);
    filter: drop-shadow(0px 0px 24px #245783);
  }

  &__card-txt {
    display: flex;
    align-items: center;
    margin-top: auto;
  }

  &__card-txt span {
    color: var(--contrast-txt);
    font-size: 1.125rem;
    margin-left: 1em;
  }

  &__card-txt svg {
    flex-shrink: 0;
  }
}

.education__card.swiper-slide {
  height: auto;
}

@include media-tablet {
  .education {
    margin-bottom: 5.875em;
  }
}

@include media-mobile {
  .education {
    &__card {
      padding: 1em 1.2em;
      max-width: 198px;
    }

    &__card-txt span {
      font-size: 0.71875rem;
      margin-left: 0.8em;
    }

    &__card-img {
      margin-bottom: 1.5625em;
    }

    &__card-txt svg {
      width: 24px;
    }
  }
}
