.experience-card {
  //   width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--cards-bg-color);
  color: var(--contrast-txt);
  padding: 2em;
  border-radius: 1.25em;

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;
  }

  &__time-period {
    font-weight: 700;
  }
  &__organisation {
    background-color: var(--top-btn-bg);
    border-radius: 1.25em;
    padding: 0.5em 1em;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    white-space: nowrap;

    a {
      color: inherit;
    }
  }
  &__position {
    margin-bottom: 0.5em;
    font-weight: 500;
  }
}

@include media-mobile {
  .experience-card {
    padding-top: 1.0625em;
    padding-left: 1.25em;
    padding-right: 1.25em;
    padding-bottom: 1.8125em;
  }
}
