.gallery {
  // display: grid;
  // grid-template-columns: repeat(2, 1fr);
  // justify-content: space-between;
  // grid-gap: 2.75em;
  width: 100%;
  margin-bottom: 2.9375em;
  display: flex;

  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    grid-gap: 2.75em;
    width: 100%;
  }
}

@include media-tablet {
  .gallery {
    &__inner {
      display: flex;
      grid-gap: 0;
    }

    overflow: hidden;
    margin-bottom: 0;
  }
}

@include media-mobile {
  .gallery {
    position: relative;
    padding-bottom: 1.8125em;
  }
}
