.logo {
  margin-right: 5em;

  &--header .logo__img-path {
    fill: var(--logo-bg);
  }

  &--footer .logo__img-path {
    fill: var(--contrast-txt);
  }
}

@include media-tablet {
  .logo {
    &--header {
      margin-right: 0;
      position: absolute;
      right: 1em;
      top: 1em;
      display: none;
    }

    &--footer {
      margin-right: 0;
      margin-bottom: 3.625em;
    }
  }
}

@include media-mobile {
  .logo {
    &--footer {
      margin-right: 0;
      margin-bottom: 2.125em;
    }
  }
}
