@import "../mixins/media";

.main-header {
  display: flex;
  width: 100%;
  padding-top: 1.45em;
  padding-bottom: 1em;
  margin-bottom: 1em;

  &__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
  }

  &__inner {
    display: flex;
    align-items: center;
  }

  
}

@include media-tablet {
  .main-header {

    &__inner.open {
      position: fixed;
      left: 0;
      top: 0;
      flex-direction: column;
      align-items: flex-start;
      width: 50%;
      z-index: 100;
      height: 100%;
      background-color: #fff;
      padding-left: 1em;
      padding-top: 3em;
      // border-radius: 0 1.25em 1.25em 0;
      -webkit-filter: drop-shadow(0 0 16px rgba(0, 0, 0, .18));
              filter: drop-shadow(0 0 16px rgba(0, 0, 0, .18));

              .logo {
                display: block;
              } 

              .nav--main {
                display: flex;
              }

              .number--menu {
                display: block;
              }

              .burger {
                margin-bottom: 2em;
              }

              .line--1 {
                transform: scale(0.9) rotateZ(-45deg) translate(-6px, 4px);
              }
              
              .line--2 {
                display: none;
              }
              
              .line--3 {
                transform: scale(0.9) rotateZ(45deg) translate(-4px, -3px);
              }
    }
  }
  
}