.skills-table {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--table-bg);
  border-radius: 1.25em;
  -webkit-filter: drop-shadow(0px 0px 16px rgba(0, 0, 0, 0.18));
  filter: drop-shadow(0px 0px 16px rgba(0, 0, 0, 0.18));

  &__top {
    display: flex;
    align-items: center;
    padding-top: 1.4375em;
    padding-bottom: 1.3753em;
    background-color: var(--table-top-bg);
    color: var(--table-top-txt-color);
    border-radius: 1.25em 1.25em 0 0;

    span {
      text-align: center;
      font-size: 1.125rem;
      font-weight: 500;
    }
  }

  &__top-left {
    max-width: 14.17em;
    width: 100%;
  }

  &__top-right {
    width: 100%;
  }

  &__body {
    display: flex;
    width: 100%;
  }
}

@include media-tablet {
  .skills-table {
    background: transparent;

    &__top {
      display: none;
    }

    &__body {
      flex-direction: column;
    }
  }
}
