.socials {
  padding-left: 0;
  list-style: none;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;

  &__item:not(:last-child) {
    margin-right: 1.625em;
  }

  &__item-path {
    fill: var(--txt);
    transition: 0.3s;
  }

  &__item a:hover .socials__item-path {
    fill: var(--menu-hover-color);
  }

  &--footer {
    .socials__item-path {
      fill: var(--contrast-txt);
      transition: 0.3s;
    }

    .socials__item a:hover .socials__item-path {
      fill: var(--menu-hover-color);
    }
  }
}

@include media-mobile {
  .socials {
    &--footer {
      margin: 0 auto;
    }
  }
}
