.socials {
  padding-left: 0;
  list-style: none;
  display: flex;
  align-items: center;
  margin-left: auto;

  &__item:not(:last-child) {
    margin-right: 1.625em;
  }

  &__item-path {
    fill: var(--txt);
    transition: 0.3s;
  }

  &__item a:hover .socials__item-path {
    fill: var(--primery-accent-color);
  }

  &--footer {
    .socials__item-path {
      fill: var(--contrast-txt);
      transition: 0.3s;
    }
  
    .socials__item a:hover .socials__item-path {
      fill: var(--second-accent-color);
    }
  }
}
