.tabs {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 0;
    margin: 0;
    background-color: var(--second-accent-color);
    width: 100%;
    border-bottom-left-radius: 1.25em;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;

    &__item {
        display: flex;
        align-items: center;
        padding: 2em 0.44444444444em 2em 2em;

        button {
            color: var(--contrast-txt);
            font-weight: 400;
            font-size: 1.125rem;
            line-height: 1; 
            text-align: left;
            display: flex;
            align-items: center;
            max-width: 11.94em;
            width: 100%;

            svg {
                margin-right: 1.16666666667em;
            }
        }
    }

    &__item.active {
        background-color: var(--primery-accent-color);
    }
}