.top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__txt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h1 {
      margin-bottom: 0.3em;
      font-size: 3.75rem;
    }

    p {
      font-weight: 300;
      font-size: 1.56rem;
      margin-bottom: 0.6em;
      line-height: 1;
    }

    p:last-of-type {
      margin-bottom: 2.05em;
    }
  }

  &__button {
    border-radius: 36px;
    background-color: var(--top-btn-bg);
    color: var(--contrast-txt);
    font-weight: 400;
    font-size: 1.5rem;
    transition: 0.3s;
    padding: 0.8em 5.2em;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 40px;
      height: 40px;
      background-image: url("../img/icons/Vector.svg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      top: 50%;
      left: 1.5em;
      transform: translate(0, -50%);
    }

    &:hover {
      background-color: var(--top-btn-bg-hover);
    }
  }

  &__profile-pic {
    background-image: url("../img/bg.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 1.5em;
    margin-top: 0.5em;
    display: flex;
    padding: 1.3em;
  }
}

.top.container {
  padding-right: 2em;
  margin-bottom: 6.6875em;
}

@include media-tablet {
  .top {
    &__profile-pic {
      margin-right: 0;
      margin-top: 0;
      max-width: 282px;
      width: 100%;
      flex-shrink: 0;
    }

    &__txt h1 {
      margin-bottom: 0.54em;
      font-size: 1.875rem;
    }

    &__txt p {
      font-size: 1rem;
      margin-bottom: 1em;
    }

    &__txt p:last-of-type {
      margin-bottom: 2.8125em;
    }

    &__button {
      font-size: 1rem;
      padding: 1.0625em 6.625em;

      &::before {
        width: 32px;
        height: 32px;
      }
    }
  }

  .top.container {
    padding-right: 45px;
  }
}

@include media-mobile {
  .top {
    flex-direction: column;

    &__txt {
      align-items: unset;
      order: 1;
    }

    &__profile-pic {
      margin-bottom: 2.125em;
    }

    &.container {
      padding-right: 29px;
      margin-bottom: 4.5625em;
    }
  }
}
