.top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__txt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h1 {
      margin-bottom: 0.3em;
    }

    span {
      font-weight: 300;
      font-size: 1.56rem;
      margin-bottom: 0.6em;
      line-height: 1;
    }

    span:last-of-type {
      margin-bottom: 2.05em;
    }
  }

  &__button {
    border-radius: 36px;
    background-color: var(--second-accent-color);
    color: var(--contrast-txt);
    font-weight: 400;
    font-size: 1.5rem;
    transition: 0.3s;
    padding: 0.8em 5.2em;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 40px;
      height: 40px;
      background-image: url("../img/icons/Vector.svg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      top: 50%;
      left: 1.5em;
      transform: translate(0, -50%);
    }

    &:hover {
      background-color: var(--primery-accent-color);
    }
  }

  &__profile-pic {
    background-image: url("../img/bg.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 4.5em;
    margin-top: 0.5em;
    display: flex;
    padding: 1.3em;
  }

  &__profile-pic img {
  }
}

.top.container {
  padding-right: 2em;
}
