*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  //fs 16px по умолчанию
}

body {
  margin: 0;
  font-family: "Muller";
  font-weight: 300;
  font-size: 1rem;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
}

h1 {
  font-family: "Muller";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
}

.container {
  max-width: 75.25rem;
  width: 100%;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
