// Mobile first
$mediaWidthMobile: 320px;
$mediaWidthTablet: 768px;
$mediaWidthTabletHorizontal: 1024px;
$mediaWidthLaptop: 1366px;

:root {
  --bg: #e5e5e5;
  --txt: #464646;
  --primery-accent-color: #7798ce;
  --second-accent-color: #79c1be;
  --footer-bg: #7d7fa1;
  --contrast-txt: #ffffff;
  --idle-button: #ffffff;
}
